<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Die Detector API</title>
  </head>
  <body>
  <img style="float:left" src="/static/die-detector-api.png" height="450" width="450"/>
  <div style="margin-left: 15px">
    <h1>Die Detector API</h1>
    <h2>Documentation</h2>
    <p>The die detector API receives an image file in the following formats:</p>
    <ul>
      <li>jpg</li>
      <li>png</li>
    </ul>
    <p>The die detector API returns a String containing the predicted class:</p>
  </div>
  </body>
</html>
